<div class="container layoutNav bs">
	<div class="wrap">
		<div class="headerWrap">
			<div class="headerRow">
				<a href="/" class="brandMobile bs">
					<img src="{{theme.link}}/assets/dist/images/logo-small.png"></img>
				</a>
				<a href="/" class="brand bs">
					<img src="{{theme.link}}/assets/dist/images/Genave-Logo-2.png"></img>
				</a>

				{% include 'headerMenu.twig' %}

			</div>
			<!--<div class="navContact ">
				<a href="/contact" class="contact">
					Contact Us <i class="fa fa-envelope"></i>
				</a>
			</div>-->
		</div>
	</div>
</div>
<div class="container layoutCrumb">
	<div class="wrap">
		{% include 'breadcrumb.twig' %}
	</div>
</div>
